<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:insert="~{head.html}">
</head>
<body>
<div class="container">
    <div th:insert="~{navbar.html}">
    </div>

    <div class="row">
        <div class="col-8">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" th:each="product : ${products}">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <h6 class="card-title text-success" th:text="${product.price}"></h6>
                                <p class="card-text" th:text="${product.description}"></p>
                                <a href="#" class="btn btn-success text-center col-12">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-4">
            <div layout:fragment="productsContent">

            </div>
        </div>
    </div>
</div>
</body>
</html>